/* 通用布局 */
body { font-family: lato, "Helvetica Neue", Helvetica, Arial, '宋体', sans-serif; font-size: 16px; position: relative; }
.navbar-default { background-color: rgba(248, 248, 248, 0.9); }
.container { background: #ffffff; }
.clear { clear: both; }
.left { float: left; }
.right { float: right; }

/* 修改bootstrap.css */
.nav > li > a { padding: 5px auto; }
.top { height: 175px; width: 100%; margin-top: 50px; padding-top: 2px; background: url('../../images/top.jpg'); background-size: cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; }
.top .left { float: left; min-width: 35%; margin-left: 2%; text-align: center; padding: 25px 0px; }
.top .right { float: right; min-width: 30%; margin-top: 20px; font-size: 1em; margin-left: 2%; margin-right: 5%; }
.main-wrap { width: 100%; margin-top: 30px; }
.main-nav li { padding: 0 10px; }
.main-nav li>a { display: inline-block; }
.main-nav li>a:hover { background: #3333; }
.main-content { float: left; width: 68%; font-size: 1em; margin-left: 4%; color: rgb(62, 59, 59); }

/* 手机布局 */
@media screen and (max-width:767px) {
	body { font-size: 12px; }
	#exam-nav-header { float: left; width: 30%; }
	.top .left, .top .right { float: none; width: 100%; padding: 0 30px; text-align: left; font-size: 0.8em; }
	#sidebar { display: none; }
	.main-content { width: 90%; font-size: 12px; }
}

/* 手机横屏 */
@media screen and (min-width:480px) and (max-width:767px) {
	.main-nav { display: block; font-size: 10px; }
}

/* 页头 */
.timer { margin-top: 5px; min-height: 38px; line-height: 38px; color: rgb(119, 119, 119); min-width: 200px; }
#sidebar a { transition: none 200ms ease-out; transition-property: background color; color: rgb(85, 85, 85); font-weight: 600; font-size: 1.2em; }

/* 试卷主体 */
#exam_body h3 { font-size: 1.2em; padding: 0.5em 0; border-bottom: 2px solid rgb(210, 232, 246); background: #dec; }
#exam_body { border: 1px solid rgb(204, 204, 204); margin-top: 40px; border-radius: 3px; padding: 30px; text-indent: 20px; }

/* 未确定 */
#exam_body label, #exam_body textarea { text-indent: 20px; }
#exam_body>div .row { margin-left: 2px; }
#question3 .row p {	/* to-do: what is rem?*/
margin: 1rem 17px; }
#question3 input { height: 22px; line-height: 22px; border: none; border-bottom: 1px solid rgb(128, 128, 128); }
#question4 textarea { width: 95%; height: 100px; margin-top: 8px; margin-bottom: 12px; }
.alert { top: 0; left: 0; background: rgba(59, 59, 56, .3); width: 100%; height: 100%; position: absolute; }
.alert-content { padding: 80px 0; position: absolute; top: 150px; border: 1px solid rgba(0, 0, 0, 0); border-radius: 4px; left: 50%; width: 300px; height: 200px; text-align: center; margin-left: -150px; background: rgb(255, 255, 255); font-size: 1.5em; }
.close { margin-top: -75px; margin-right: 7px; }
.question textarea { margin: 10px 44px; width: 77%; }