body {
    padding-top: 50px;
}

a,a:hover,a:focus,a:active{
    text-decoration: none;
}
ul,li{
    list-style:none;
    padding: 0;
}
/*重写boostrap*/
.navbar-fixed-top {
    background: rgb(12,126,217);
    /* border-bottom: 1px solid rgb(179, 179, 179); */
    top: 0;
    color: rgb(38, 38, 38);
    border-width: 0 0 1px;
    padding: 3px 43px;
}
.navbar-brand {
    background: url(../images/SCUT.png) no-repeat left center;
    background-size: cover;
    width: 200px;
}

.navbar-nav > li > a {
    color:#fff;
}
.navbar-nav > li > a:hover{
    background-color: hsla(0,0%,100%,0.3)
}

span.glyphicon {
    color: rgb(0, 0, 255);
}

.dropdown-menu li a{
    color: rgb(255, 255, 255);
    padding:10px 20px;
    transition: all 0.3s;
}


.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


.btn-success {
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.3);
    transition: all 200ms;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

ul#paper_list {
    position: relative;
    float: none;
    text-align: center;
    border: none;
    border-radius: 0;
    background: rgba(210, 215, 214, 0.31);
}

p#teacher_info {
    text-align: center;
    line-height: 50px;
    margin: 0;
}


ul#paper_list {
    position: relative;
    float: none;
    text-align: center;
    border: none;
    border-radius: 0;
    background: rgba(210, 215, 214, 0.31);
}

/*考卷question_template*/

.info {
    height: 32px;
    width: 90%;
    margin: 10px auto;
    color: #333;
    text-shadow: 1px 1px 3px #fff;
}

.info span:nth-of-type(1) {
    float: left;
}

.operation_div {
    float: right;
    display: flex;
    align-items: center;
}
.main-content {
    position: absolute;
    top: 75px;
    margin-bottom: 100px;
    padding-bottom: 34px;
    right: 50px;
    border: 1px dotted;
}
span#sum-score {
    min-width: 34px;
    padding: 3px;
    border: 1px solid rgb(102, 102, 153);
    margin: -4px 5px;
    color: rgba(244, 54, 54, 0.97);
    font-weight: 800;
    border-radius: 5px;
    text-align: center;
}

.question span>input {
    text-indent: 5px;
}


.question_answer {
    /* width: 95%; */
    border: 1px solid rgb(188, 232, 241);
    border-top: none;
    min-height: 100px;
    /* padding: 3px 8px; */
}

a.studentItem {
    padding: 5px 38px;
    line-height: 31px;
    color: rgb(255, 255, 255);
    background: rgb(51, 122, 183);
    /* margin: 25px 0; */
}
a.studentItem:hover,a.studentItem.active{
 color:#333;
    font-weight: 600;
}
button#btn-submitScore {
     margin-right: -35px;
 }