<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>班级管理</title>
    <link rel="stylesheet" type="text/css" href="css/effect/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/effect/icon.css">
     <link rel="stylesheet" type="text/css" href="css/teacher.css">
    <link rel="stylesheet" type="text/css" href="css/classManagement.css">
    <script type="text/javascript" src="js/effects/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="js/effects/jquery.easyui.min.js"></script>
</head>

<body class="easyui-layout">
    <div data-options="region:'north',border:false" id="top">
        <h2><a href="teacherIndex.html">教师管理系统</a><span>华南理工大学</span></h2>
        <p><strong th:text="${teacher.name}" th:id="${teacher.id}">董守玲</strong>&nbsp;教师，您好！</p>
    </div>
      <div data-options="region:'west',split:true,title:'信息管理'" id="west">
                    <ul class="main_menu">
                        <li><a href="classManagement.html"  class="active">班级信息</a> </li>
                        <li><a href="paperManagement.html">试题管理</a> </li>
                        <li> <a href="paperMark.html">考卷评阅</a></li>
                        <li><a href="detailGrade.html" >详细成绩</a></li>
                    </ul>
        </div>
    <div data-options="region:'center',split:true" title="" id="center">
        <div class="center-left">
            <div class="easyui-accordion" data-options="fit:true,border:false">
                <div title="选择班级" style="padding:10px;" id="class_list">
                    <ul class="easyui-tree">
                        <li><a href="javascript:void(0)" id="class_id1">网络工程</a></li>
                        <li><a href="javascript:void(0)" id="class_id2">信息安全</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="center-right">           
            <table class="easyui-datagrid" id="class_student_dg" data-options="rownumbers:true,singleSelect:true, method:'get',toolbar:toolbar">
                <thead>
                    <tr>
                        <th data-options="field:'student_name',width:80,align:'center'">姓名</th>
                        <th data-options="field:'student_id',width:120,align:'center'">学号</th>
                        <th data-options="field:'class_name',width:80,align:'center'">班级</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div data-options="region:'east',split:true,collapsed:true" title="学生成绩" id="east">
        <p class="title"><strong>廖晓娟</strong>&nbsp;同学</p>
        <table class="easyui-datagrid" id="student_grade_dg" data-options="rownumbers:true,singleSelect:true,method:'get'">
            <thead>
                <tr>
                    <th data-options="field:'paper_name',width:80,align:'center'">试题</th>
                    <th data-options="field:'grade',width:120,align:'center'">成绩</th>
                    <th data-options="field:'rank',width:120,align:'center'">排名</th>
                </tr>
            </thead>
        </table>
    </div>
    <script src="js/classManagement.js"></script>
</body>

</html>
