<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>班级管理</title>
    <link rel="stylesheet" type="text/css" href="css/effect/easyui.css">
    <link rel="stylesheet" type="text/css" href="css/effect/icon.css">
    <link rel="stylesheet" type="text/css" href="css/teacher.css">
    <link rel="stylesheet" type="text/css" href="css/paperMark.css">
    <script type="text/javascript" src="js/effects/jquery-2.2.3.js"></script>
    <script type="text/javascript" src="js/effects/jquery.easyui.min.js"></script>
</head>

<body class="easyui-layout">
    <div data-options="region:'north',border:false" id="top">
        <h2><a href="teacherIndex.html">教师管理系统</a><span>华南理工大学</span></h2>
        <p id="teacher_info"><strong id="{TEACHERID}">{TEACHERNAME}</strong>&nbsp;教师，您好！</p>
    </div>
    <div data-options="region:'west',split:true,title:'信息管理'" id="west">
        <ul class="main_menu">
            <li><a href="classManagement.html">班级信息</a> </li>
            <li><a href="paperManagement.html">试题管理</a> </li>
            <li> <a href="paperMark.html" class="active">考卷评阅</a></li>
            <li><a href="detailGrade.html">详细成绩</a></li>
        </ul>
    </div>
    <div data-options="region:'center',split:true" title="" id="center">
        <div class="center-left">
            <div class="easyui-accordion" data-options="fit:true,border:false">
                <div title="选择未评阅的考卷" style="padding:10px;" id="paper_list">
                    <ul class="easyui-tree">
                        <script type="text/template" id="template_paper_list">
                            <li><a href="javascript:void(0)" id="{PAPERID}">{PAPERNAME}</a></li>
                        </script>
                    </ul>
                </div>
            </div>
        </div>
        <div class="center-right">
            <div class="easyui-panel">
                <div class="easyui-pagination" data-option="total:0,pageSize:0" id="pp"></div>
                <div id="student_paper">
                    <!-- template_info -->
                    <!-- template_question -->
                    <!-- template_question end-->
                </div>
                <span id="back-to-top"><a href="#student_id_paper"></a></span>
            </div>
        </div>
    </div>
    <div data-options="region:'south',split:false" title="" id="bottom">
    </div>
    <script type="text/template" id="template_info">
        <div class="info">
            <span><strong>{STUDENTNAME}</strong>同学</span>
            <div class="operation_div">
                <p>总分：<span id="sum-score">{STUDENTSCORE}</span></p>
                <button>确定打分?</button>
            </div>
        </div>
    </script>
    <script type="text/template" id="template_question">
        <div class="question">
            <div class="question_title">
                <p>({QUESTIONSCORE}分){QUESTIONTITLE}
                    <p>
                        <input type="text" pattern=/\d{1,}/ id="{QUESTIONID}" size="3" data-max='{QUESTIONSCORE}'>
                        <button data-target='#{QUESTIONID}' class="btn-score
">打分</button>
                        <button data-target='#{QUESTIONID}' class="btn-modify-score">修改</button>
            </div>
            <div class="question_answer">{QUESTIONANSWER}</div>
        </div>
    </script>
    <script src="js/paperMark.js "></script>
</body>

</html>
