<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="css/select.css"/>
	<title>选择试卷</title>
	</head>
	<body>
		<div class="wrap">
			<span>请选择一份试题</span>
			<select name="paper">
				<option value="">试卷1</option>
			</select>
			<button type="button" >进入考试</button>
		</div>
		<script src="js/effects/jquery-2.2.3.js"></script>
		<script src="js/effects/bootstrap.js"></script>
		<script src="js/select.js"></script>
	</body>
</html>