<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/effect/bootstrap.css" rel="stylesheet" />
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/select.css" />
    <title>选择试卷</title>
</head>

<body>
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
        </div>
    </nav>
    <div class="panel-info">
        <div class="panel-heading">
            <p class="student-info">
                <b id="{STUDENTID}">{STUDENTNAME}</b>&nbsp;同学，您好!
            </p>
            <div>&nbsp; 您有<b class="paper_num">{PAPERNUM}</b>份试卷需要参与考试
                <span><a href="/login" class="blue-text">退出考试</a></span>
            </div>
        </div>
        <div class="panel-body">
            <!-- 试卷信息 -->
        </div>
    </div>
    <script src="js/effects/jquery-2.2.3.js"></script>
    <script src="js/effects/bootstrap.js"></script>
    <script src="js/select.js"></script>
    <script type="text/template" id="paperInfoTempalte">
        <div class="paper-info">
            <b>试卷信息{PAPERINDEX}</b>
            <p>试卷名称：<span class="paper-name">{PAPERNAME}</span></p>
            <p class="paper-time">考试时间：<span class="paper-start">{PAPERSTART}</span> ～ <span class="paper-end">{PAPEREND}</span></p>
            <p>考试进程：<span class="exam-status green-text">{PAPERSTATUS}</span></p>
            <div>
                <input type="button" class="btn btn-primary btn-sm ok-btn {BTNHIDE}" value="进入考试" id="{PAPERID}" />
                <input type="button" class="btn btn-primary btn-sm next-btn pull-right" id="nextbtn" value="下一份" />
                <input type="button" class="btn btn-primary btn-sm prev-btn pull-right" value="上一份" />
            </div>
        </div>
    </script>
</body>

</html>
