<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>教师管理系统</title>
    <link rel="stylesheet" type="text/css" href="css/com.css"/>
    <link rel="stylesheet" type="text/css" href="css/teacher.css"/>
</head>
<body>
    <div class="header">
        <h1><a href="teacherIndex.html">教师管理系统</a><span>华南理工大学</span></h1>
    </div>
    <div class="wrapper">
        <nav class="sideBar fl">
            <ul class="mainNav">
                <li class="mNli dropdown-toggle">
                    <a href="classManagement.html">班级管理 </a>
                </li>
                <li class="mNli"><a href="paperManagement.html">试题管理</a>
                </li>
                <li class="mNli"><a href="paperMark.html">考卷评阅</a>
                </li>
                <li class="mNli"><a href="detailGrade.html">详细成绩</a></li>
            </ul>
        </nav>
        <div class="main">
          欢迎界面    
        </div>
    </div>
    <script src="js/effects/jquery-2.2.3.js"></script>
    <script src="js/effects/bootstrap.js"></script>
    <script src="js/teacherJs.js"></script>
</body>
</html>
